*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div, ul, li, h2{
    display: block;
    margin: 0;
    padding: 0;
}


#navigater {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    background-image: url(../photo/slate_1.png);
    background-size: 100% 80px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.7;
}
.nav-bar{
    float: right;
    margin-top: 50px;
}
.catalog{
    float: left;
    list-style: none;
    display: inline-block;
}
.catalog li{

    display: inline-block;

}
.catalog li a{
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
}